<!-- <div>
  <a class=" btn btn-secondary" routerLink="/add-rule/">add rule</a>

</div> -->
<br>
<table class="table table-striped table-dark" id="ruleTable">
  <thead>
    <tr>
      <th>Rule ID</th>
      <th>Rule name</th>
      <th>View details</th>
      <th>Delete rule</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rule of rules | orderBy: order: false: 'case-insensitive'" >
      <td><span >{{ rule.ruleId }}</span></td>
      <td><span>{{ rule.name }}</span></td>
      <td >
        <a  routerLink="/engines/{{engineId}}/rules/{{rule.ruleId}}" class="btn btn-info">View details</a>
        <span>{{rule.engineId}}</span>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteRule(engineId, rule.ruleId ); ">Delete</button>
      </td>
    </tr>
  </tbody>

</table>
<button (click)="goBack()" class="btn btn-secondary">Back</button>
<!-- <app-rule-details [rule]="selectedRule"></app-rule-details> -->
