<div class="container">
  <h2>New rule definition</h2>
  <hr>
  <form action="#">
    <!-- engine picking -->
    <!-- <div class="form-group" class="float-right">
        <label for="engines" >Picked engine</label> &nbsp;
        <select id="engines" #eng class="float-right" (change)="onEngChange($event)" [(ngModel)]="selectedEngineId" name="engine" disabled>
          <option *ngFor="let engine of engines" value='{{ engine.engineId }}' >{{ engine.engineId }}</option>
        </select>
    </div> -->
    <div >
      picked engine: <span name="engId" #engId>{{ storedEngineId }}</span>
      <span name="engType" #engType hidden>{{ storedEngine }}</span>
    </div>
    <br>
    <!-- dropdowns -->
    <!-- <div class="btn-group" #dropdowns [hidden]="selectedEngine?.engineType!='PerseoFrontEnd' || 'PerseoCore'"> -->
    <div class="btn-group" #dropdowns *ngIf="selectedEngine == 'PerseoFrontEnd' || 'PerseoCore'">
      <select name="event"  #event (change)="select1($event)" class="btn btn-info">
        <option value="">-Pick event-</option>
        <option *ngFor="let event of events" value="{{event}}" >{{ event }}</option>
      </select> &nbsp;

      <select name="timeAtom"  #timeAtom (change)="select1($event)" class="btn btn-info">
        <option value="">-Pick interval-</option>
        <option value="timer:interval">timer:interval</option>
        <option value="timer:at">timer:at</option>
      </select> &nbsp;

      <select name="operator"  #operator (change)="select1($event)" class="btn btn-info">
        <option value="">-Pick operator-</option>
        <option value="every">every</option>
        <option value="every-distinct">every-distinct</option>
        <option value="repeat">repeat</option>
        <option value="until">until</option>
      </select> &nbsp;

      <select name="timeValue" #timeValue (change)="select1($event)" class="btn btn-info">
        <option value="">-Pick time value-</option>
        <option value="seconds">seconds</option>
        <option value="minutes">minutes</option>
        <option value="hours">hours</option>
        <option value="days">days</option>
        <option value="weeks">weeks</option>
      </select> &nbsp;

      <select name="patternGuard" #patternGuard (change)="select1($event)" class="btn btn-info">
        <option value="">-Pick pattern guard-</option>
        <option value="timer:within">timer:within</option>
        <option value="timer:withinmax">timer:withinmax</option>
        <option value="while">while</option>
      </select> &nbsp;

      <select name="timeView" #timeView (change)="select1($event)" class="btn btn-info">
        <option value="">-Pick time view-</option>
        <option value=".win:time">.win:time</option>
        <option value=".win:time_batch">.win:time_batch</option>
        <option value=".win:length">.win:length</option>
      </select>
    </div>

    <!-- rule name -->
    <div class="form-group" id="rName" style="margin-top: 30px;" >
      <label for="ruleName" class="col-form-label-lg">Rule name</label>
      <input type="text" name="ruleName" #ruleName class="form-control" />
    </div>

    <!-- description -->
    <div class="form-group">
      <label for="description" class="col-form-label-lg">Description</label>
      <textarea name="description" (ngModel)="description" #description class="form-control" cols="30" rows="6"></textarea>
    </div>

    <!-- text  -->
    <div class="form-group">
      <label for="text" class="col-form-label-lg">Text</label>
      <textarea name="text" [(ngModel)]="ruleText" #text class="form-control" cols="30" rows="6" (focus)="fokus(text)" (blur)="fokus(text)"></textarea>
    </div>

    <!-- action -->
    <!-- <div class="form-group" #act [hidden]="storedEngine!='Perseo'">
      <label>Action</label>
      <br> Type:
      <input type="text" name="type" (ngModel)="actionType" #actionType />
      <br><br> Parameters:
      <br><br>
      <input type="text" name="name" placeholder="rule name" (ngModel)="actionName" #actionName />
      <br><br> Value:
      <select #actionValue (ngModel)="actionValue">
        <option value="true">true</option>
        <option value="false">false</option>
      </select>
      <br><br>
      <input type="text" name="type2" (ngModel)="typeValue" #typeValue placeholder="rule type" />
    </div> -->
    <div class="form-group">
      <label for="action" class="col-form-label-lg">Action</label>
      <textarea #action name="action" [hidden]="storedEngine!='Perseo'" class="form-control" rows="6"></textarea>
    </div>


    <div class="form-check">
      <input type="checkbox" #enable class="form-check-input" id="enable" (change)="test($event.target.checked)">
      <label for="enable" class="form-check-label">Enable</label>
    </div>
    <br>

    <button class="btn btn-primary"
      (click)="addRule(
        engId.innerText,
        engType.innerText,
        description.value,
        text.value,
        action.value,
        ruleName.value
      )"
    >
      Add
    </button> &nbsp;
    <input type="button" class="btn btn-danger" (click)="[description.value='', text.value='', action.value='']" value="Reset"/> &nbsp;
    <button class="btn btn-primary" (click)="rulesToRestore();">Restore rules</button> &nbsp;
    <button class="btn btn-secondary" (click)="goBack()">Back</button>

  </form>

</div>
