<div *ngIf='rule'>
  <div class="form-group">
    <h3> Rule ID: {{ rule.id }} </h3><hr>
      <label>Enter new rule description: </label><br>
        <textarea class="form-control" [(ngModel)]="rule.description" #des></textarea>
     
  </div>
  <!-- <br><br> -->
  <div class="form-group">
    <label >Enter new rule statement:</label><br>
      <textarea class="form-control" [(ngModel)]="rule.statement" #sta></textarea>
    </div>
    <br>
    <button class="btn btn-primary" (click)="save(rule.id, rule.description, rule.statement)">save</button>
    <button class="btn btn-secondary" (click)="goBack()">Back</button>
  </div>
 
