<mat-card>
  <mat-card-header>
    Perseo Core Rule Creator
  </mat-card-header>
  <form (ngSubmit)="submit()">
    <mat-form-field>
      <textarea matInput
        [(ngModel)] = "perseoCoreRule.statement"
        name = "statement"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput
        [(ngModel)] = "perseoCoreRule.description"
        name = "description"
      ></textarea>
    </mat-form-field>
    <button mat-button type="submit">Create Rule</button>
  </form>
</mat-card>
