<mat-card>
  <mat-card-header>
    Perseo Front End Rule Creator
  </mat-card-header>
  <form (ngSubmit)="submit()">
    <mat-form-field>
      <textarea matInput
        [(ngModel)] = "perseoFERule.statement"
        name = "statement"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput
        [(ngModel)] = "perseoFERule.description"
        name = "description"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput
        [(ngModel)] = "action"
        name = "action"
      >
      </textarea>
    </mat-form-field>
    <mat-card-actions>
      <button mat-button type="submit">Submit!</button>
    </mat-card-actions>
  </form>
</mat-card>