<div >
  <a class=" btn btn-secondary" routerLink="/add-rule/">add rule</a>
  <a class=" btn btn-secondary" routerLink="/add-engine/">add engine</a>
</div>
<br>
<table class="table table-striped table-dark" id="ruleTable">
  <thead>
    <tr>
      <th>Engine ID</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let engine of engines">
      <td>{{ engine.engineId }}</td>
      <td>
        <a routerLink="/engines/{{engine.engineId}}" class="btn btn-info">View details</a>
      </td>
      <td>
        <a routerLink="/engines/{{engine.engineId}}/rules" class="btn btn-primary">View rules</a>
      </td>
      <td><button class="btn btn-danger" (click)="deleteEngine(engine.engineId)">delete</button></td>
    </tr>
  </tbody>
</table>
