<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{rule.ruleId}}
    </mat-panel-title>
    <mat-panel-description>
      {{rule.description}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <cep-statement
    [initialStatement]="rule.statement"
    (currentStatement)="modifyRuleStatement($event)"
  >
  </cep-statement>
  <textarea
    [(ngModel)] = "rule.action"
    (ngModelChange) = "modifyRuleAction($event)"
    name = "action"
  >
  </textarea>
  <button (click)="update()">Update</button>
  <button (click)="delete()">Delete</button>
</mat-expansion-panel>